.status {

}

.box {
    font-weight: 500;
    height: 45%;
    width: 45%;
    color: #FFFFFF;
    text-align: center;
    float: left;
    margin: 10px;
}

.box .title {
    font-size: 2.25em;


}

.box .number {
    font-size: 2em;
}